<!-- ALL / VIEW PRODUCTS -->
<div id="allProducts-section" class="content-section">
    <div class="all-products-container">

    <div class="products-header">
        <h2><i class="fas fa-eye"></i> View Products</h2>
        <input
            type="text"
            id="productSearch"
            placeholder="Search product..."
            class="product-search">
            </div>

    {% for c in categories %}

    <h3 style="margin:30px 0 20px;color:#2563eb;">
        {{ c.category_name }}
    </h3>

    <div class="all-products-grid">

        {% for p in c.products.all %}

        <div class="product-card-all">

            <img src="{{ p.picture.url }}">

            <div class="product-info-all">

                <h4>{{ p.product_name }}</h4>

                <div style="font-size:.75rem;color:#60a5fa;font-weight:700;">
                    {{ c.category_name }}
                </div>

                <div class="product-price-all">
                    Rs.{{ p.product_price }}
                </div>

                <div style="font-size:.75rem;color:#94a3b8;">
                    Stock : {{ p.stock_qty }} Units
                </div>

                <label class="view-details-btn"
                       for="nav-product-{{ p.id }}">
                    <i class="fas fa-eye"></i>
                    View Details
                </label>

            </div>

        </div>

        {% empty %}

        <p style="color:#999">
            No Products
        </p>

        {% endfor %}

    </div>

    {% endfor %}

</div>
</div>

<script>
document.getElementById("productSearch").addEventListener("keyup", function () {

    let value = this.value.toLowerCase();

    let cards = document.querySelectorAll(".product-card-all");

    cards.forEach(function(card){

        let text = card.innerText.toLowerCase();

        if(text.includes(value)){
            card.style.display = "block";
        }else{
            card.style.display = "none";
        }

    });

});
</script>