<!-- USERS -->
        <div id="users-section" class="content-section">
            <div class="form-container">
                <div class="form-title">
                    <h2><i class="fas fa-users" style="color:#667eea;"></i> Users Management</h2>
                    <form method="GET" class="orders-toolbar">

    <input type="hidden" name="tab" value="users">

    <div class="search-box">

        <i class="fas fa-search"></i>

        <input
            type="text"
            name="user_search"
            class="search-input"
            placeholder="Search User..."
            value="{{ request.GET.user_search }}">

    </div>

    <button class="table-action-btn edit-btn">

        <i class="fas fa-search"></i>

        Search

    </button>

</form>
                </div>
                <div class="table-responsive">
                    <table>
                        <thead><tr><th>User ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Role</th><th>Status</th><th>Joined</th></tr></thead>
                        <tbody>

                            {% for u in users %}

                            <tr>

                                <td>#USR{{ u.id }}</td>

                                <td>

                                    {{ u.firstname }}
                                    {{ u.lastname }}

                                </td>

                                <td>

                                    {{ u.user_id.email }}

                                </td>

                                <td>

                                    {{ u.contectno }}

                                </td>

                                <td>

                                    <span class="user-role">

                                        {{ u.user_id.role }}

                                    </span>

                                </td>

                                <td>

                                    <span class="status-badge status-active">

                                        Active

                                    </span>

                                </td>

                                <td>

                                    {{ u.user_id.create_at|date:"d M Y" }}

                                </td>

                                <td>

                                </td>

                            </tr>

                            {% empty %}

                            <tr>

                            <td colspan="8" style="text-align:center;padding:35px;">

                            No Users Found

                            </td>

                            </tr>

                            {% endfor %}

                            </tbody>
                    </table>
                </div>
            </div>
        </div>
