body{

background:#f4f7fb;

font-family:sans-serif;

}

.container{

width:92%;

max-width:1400px;

margin:auto;

padding:40px;

}

.back-btn{

display:inline-block;

margin-bottom:20px;

text-decoration:none;

}

h1{

margin-bottom:35px;

}